extends 'showroom/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid mt-4" style="position: relative; background-image: url('https://thumbs.dreamstime.com/z/car-sales-concept-vehicles-40649067.jpg'); background-size: cover; background-position: center; padding: 150px 0; text-align: center; filter: blur(1px);">

        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #fff; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);">

            <h2>About AUTO LANKA</h2>
            <p>Learn About AUTO LANKA, THE PREMIER DESTNIATION FOR VEHCILE AUCTION</p>
        </div>

    </div>
    </div>

        <h2 class="text-white mb-4">About Us</h2>

        <div class="row">
            <!-- Box 1: Who We Are -->
            <div class="col-md-6">
                <div class="info-box" style="border: 2px solid #000; background-color: #B0C4DE; color: #000; padding: 20px;">
                    <h3>Who We Are</h3>
                    <p>We are a passionate team dedicated to providing the best cars to our customers.Established  in 2019 with a single salvage yard in Sri Lanka, Auto Lanka's innovatice technology and the premier sources for online vehicle auction platform. Auto Lanka has envolved into leading online vehicle auction platform connecting sellers and buyers across the Sri Lanka.Headquartered in Narahenpita,Colombo,Sri Lanka </p>
                    <!-- Add more information as needed -->
                </div>
            </div>

            <!-- Box 2: What We Do -->
            <div class="col-md-6">
                <div class="info-box" style="border: 2px solid #000; background-color: #B0C4DE; color: #000; padding: 20px;">
                    <h3>What We Do</h3>
                    <p>Our mission is to make the process of buying and selling cars easy, transparent, and enjoyable.The user-friendly interface of Auto Lanka simplifies the process for both buyers and sellers. Sellers can effortlessly list vehicles with detailed descriptions, images, and relevant documentation. Buyers benefit from a streamlined search and filtering system, enabling them to find precisely what they are looking for, whether it be a classic car restoration project or a late-model truck for commercial use.</p>
                    <!-- Add more information as needed -->
                </div>
            </div>
        </div>
    </div>



{% endblock %}
