<nav class="navbar navbar-expand-lg navbar-dark" style="background: linear-gradient(to left,#4682B4, #000080, #191970, #000000);">
    <div class="container">
        <!-- Left-aligned items -->
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                MENU
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-light mr-2" href="{% url 'showroom:home_list' %}"
                           style="color: black; background-color: white;"
                           onmouseover="this.style.color='white'; this.style.backgroundColor='black';"
                           onmouseout="this.style.color='black'; this.style.backgroundColor='white';">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-light mr-2" href="{% url 'showroom:contact' %}"
                           style="color: black; background-color: white;"
                           onmouseover="this.style.color='white'; this.style.backgroundColor='black';"
                           onmouseout="this.style.color='black'; this.style.backgroundColor='white';">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-light mr-2" href="{% url 'auction:profile_list' %}"
                           style="color: black; background-color: white;"
                           onmouseover="this.style.color='white'; this.style.backgroundColor='black';"
                           onmouseout="this.style.color='black'; this.style.backgroundColor='white';">Bid on Profiles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-light mr-2" href="{% url 'showroom:Aboutus' %}"
                           style="color: black; background-color: white; border-width: 2px;"
                           onmouseover="this.style.color='white'; this.style.backgroundColor='black';"
                           onmouseout="this.style.color='black'; this.style.backgroundColor='white';">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-light mr-2" href="{% url 'showroom:Inventory' %}"
                           style="color: black; background-color: white; border-width: 2px;"
                           onmouseover="this.style.color='white'; this.style.backgroundColor='black';"
                           onmouseout="this.style.color='black'; this.style.backgroundColor='white';">Inventory</a>
                    </li>
                </ul>
            </div>
        </nav>
        <a href="{% url 'showroom:new_profile' %}" type="button" class="btn btn-warning">SELL YOUR VEHICLE</a>
    </div>
</nav>
