{% extends 'showroom/base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <form method="GET" action="" class="d-flex">
            <select name="sort" id="sort" class="mr-2 form-control" style="border-radius: 10px;">
                <option value="">Select an option</option>
                <option value="name">Brand</option>
                <option value="variant">Model</option>
                <option value="year">Year</option>
            </select>
            <button type="submit" class="btn btn-warning" style="border-radius: 10px;">Sort</button>
        </form>

<div class="row justify-content-end" style="margin-right: 4px;">
    <ul class="pagination">
        {% if profiles.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1" style="color: black;">&laquo; First</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ profiles.previous_page_number }}" style="color: black;">Previous</a>
        </li>
        {% endif %}

        <li class="page-item disabled">
            <span class="page-link">
                Page {{ profiles.number }} of {{ profiles.paginator.num_pages }}
            </span>
        </li>

        {% if profiles.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ profiles.next_page_number }}" style="color: black;">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ profiles.paginator.num_pages }}" style="color: black;">Last &raquo;</a>
        </li>
        {% endif %}
    </ul>
</div>

    </div>
</div>
<br>
<div class="container">
    <div class="row">
        {% for profile in profiles %}
        <div class="col-md-4">
            <div class="card shadow mb-4" style="border-radius: 30px;">
                <img class="card-img-top" src="{{ profile.pic.url }}" alt="Profile picture" style="height: 200px; object-fit: cover;">
                    <div class="card-body text-center">
                        <h5 class="card-title text-uppercase font-weight-bold">{{ profile.year }} {{ profile.name }}</h5>
                        <span class="d-block" style="color: #00008B; font-weight: bold;">Model: {{ profile.variant }}</span>
                        <span class="d-block" style="color: green; font-weight: bold;">Current Bid: LKR {{ profile.price }}</span>
                        <a href="{% url 'showroom:profiles' profile.id %}" class="btn btn-warning mt-3">View Profile</a>
                        {% with formatted_bid_end_date=profile.bid_end_date|date:'Y-m-d H:i:s' %}
                        {% if formatted_bid_end_date > now %}
                            <a href="{% url 'auction:place_bid' profile.id %}" class="btn btn-success">Place Bid</a>
                        {% else %}
                            <p>Bidding Closed</p>
                        {% endif %}
                        {% endwith %}
                    </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Pagination Controls -->
<div class="row justify-content-center">
    <ul class="pagination">
        {% if profiles.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1" style="color: black;">&laquo; First</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ profiles.previous_page_number }}" style="color: black;">Previous</a>
        </li>
        {% endif %}

        <li class="page-item disabled">
            <span class="page-link">
                Page {{ profiles.number }} of {{ profiles.paginator.num_pages }}
            </span>
        </li>

        {% if profiles.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ profiles.next_page_number }}" style="color: black;">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ profiles.paginator.num_pages }}" style="color: black;">Last &raquo;</a>
        </li>
        {% endif %}
    </ul>
</div>

{% endblock %}
