<body>
<div style="background-color: #ADD8E6;">
    <hr style="border: 1px solid black; margin-top: 20px;">
    <h1 style="color: #00008B; text-align: center; margin-top: 20px;">Membership Options</h1>
    <p style="text-align: center;">Join our exclusive car membership for benefits like discounts on services, priority appointments, and special offers.</p>

    <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap; margin-top: 30px;">
        <div style="flex: 1; margin: 10px; border: 1px solid #ccc; padding: 20px; border-radius: 10px; background-color: #ffffff;">
            <h2 style="margin-top: 0; text-align: center;">Basic $99</h2>
            <p style="text-align: center;">Includes access to standard services and occasional discounts.</p>
        </div>
        <div style="flex: 1; margin: 10px; border: 1px solid #ccc; padding: 20px; border-radius: 10px; background-color: #ffffff;">
            <h2 style="margin-top: 0; text-align: center;">Premium $200</h2>
            <p style="text-align: center;">Unlock access to premium services, exclusive offers, and priority support.</p>
        </div>
    </div>

    <div style="text-align: center; margin-top: 20px;">
        <a href="{% url 'account:register' %}" class="btn btn-outline-dark" style="background-color: #DAA520; color: black; padding: 10px 20px; text-decoration: none;">Register Now</a>
    </div>
    <br>
</div>
</body>
