{% extends 'showroom/base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="text-center mb-4"><strong>Add a New Profile!</strong></h1>
                    <form method="post" enctype="multipart/form-data">

                        {% csrf_token %}
                        {{ formset.management_form }}
                        {% for form in formset %}
                           {{ form.as_p }}
                        {% endfor %}
                        <button type="submit" class="btn btn-warning btn-block mt-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


