/* styles.css */

#container {
  margin-bottom: 34px;
}

.filter-area {
  text-align: center;
  margin-bottom: 20px;
}

.filter-input {
  padding: 5px;
}

.btn.btn-warning {
  align-items: self-end;
}
