<div style="flex: 1;">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <!-- First Membership Slide -->
                <div style="flex: 1; margin: 10px; border: 1px solid #ccc; border-radius: 10px; background-color: #F5FFFA; text-align: center;">
                    <img src="../media/Slide1.jpg" class="img-fluid" alt="Slide 1 Image">
                </div>
            </div>
            <div class="carousel-item">
                <!-- Second Membership Slide -->
                <div style="flex: 1; margin: 10px; border: 1px solid #ccc; border-radius: 10px; background-color: #F5FFFA; text-align: center;">
                    <img src="../media/Slide2.jpg" class="img-fluid" alt="Slide 2 Image">
                </div>
            </div>
            <div class="carousel-item">
                <!-- Third Membership Slide -->
                <div style="flex: 1; margin: 10px; border: 1px solid #ccc; border-radius: 10px; background-color: #F5FFFA; text-align: center;">
                    <img src="../media/Slide3.jpg" class="img-fluid" alt="Slide 3 Image">
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
