<style>
    .footer {
        color: white;
    }

    .footer p,
    .footer span {
        color: white;
    }
</style>

<footer class="footer" style="background: linear-gradient(to left, #4682B4, #000080, #191970, #000000);">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="text-muted d-block">© 2023 Auto Lanka</span>
                <p>123 Main Street, Cityville, Colombo</p>
                <p>Contact: +1 (123) 456-7890</p>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <h5>Follow Us on</h5>
                    <div class="social-media-icons">
                        <a href="#" target="_blank"><i class="fab fa-facebook"> Facebook </i></a>
                        <a href="#" target="_blank"><i class="fab fa-twitter"> Twitter </i></a>
                        <a href="#" target="_blank"><i class="fab fa-instagram"> Instagram </i></a>
                        <!-- Add more social media icons as needed -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <h5>Subscribe to Newsletters</h5>
                    <button class="btn btn-light">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</footer>
