{% extends 'showroom/base.html' %}
{% load static %}
{% block content %}
<h2 style="font-weight: bold; font-family: 'Arial', sans-serif; text-align: center;">Find Your Vehicle!</h2>
<div class="container" style="max-width: 600px; margin: 0 auto; border-radius: 30px; border: 2px solid #DCDCDC; background:#F5FFFA;">
    <h6 style="text-align: center; background-color: #FFD700; color: black; padding: 4px;border-radius: 30px;">Vehicle Finder</h6>
    <form method="GET" action="{% url 'showroom:search_profiles' %}">
        <div class="form-group">
            <label for="variantName">Make/Model:</label>
            <input type="text" name="query" class="form-control" placeholder="Enter variant or name">
        </div>
        <div class="form-group">
            <label for="priceRange">Price Range:</label>
            <input type="range" name="price__range" class="form-control-range" min="2500000" max="10000000" step="10000"
                oninput="this.nextElementSibling.value = this.value" style="background-color: yellow;">
            <output>2,500,000</output>
            <output style="float: right;">10,000,000</output>
        </div>
        <div class="form-group">
            <label for="insured">Insurance status:</label>
            <select name="insured" class="form-control">
                <option value="">Select</option>
                <option value="yes">Insured</option>
                <option value="no">Not Insured</option>
            </select>
        </div>
        <div class="form-group">
            <label for="year">Year:</label>
            <input type="number" name="year" class="form-control" placeholder="Enter year">
        </div>
        <div class="form-group">
            <label for="mileageRange">Mileage Range (in KMs):</label>
            <input type="range" name="mileage__range" class="form-control-range" min="10000" max="100000" step="1000"
                oninput="this.nextElementSibling.value = this.value">
            <output>0</output>
            <output style="float: right;">100,000</output>
        </div>
        <div class="form-group">
            <label for="engineCapacity">Engine Capacity:</label>
            <input type="number" name="engine" class="form-control" placeholder="Enter engine capacity">
        </div>

        <div class="form-group text-center">
        <button type="submit" class="btn btn-warning rounded-lg">Find</button>
        </div>
    </form>
</div>
<br>

{% endblock %}
