{% extends 'auction/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Available Profiles for Bidding</h2>
    <ul class="list-group">
        {% for profile in profiles %}
            <li class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">
                        <a href="{% url 'auction:profile_detail' profile.id %}">{{ profile.name }}</a>
                    </h5>
                    <small class="text-muted">
                        Bid Start Date: {{ profile.bid_start_date|date:"F d, Y" }}
                    </small>
                </div>
                <p class="mb-1">Bid End Date: {{ profile.bid_end_date|date:"F d, Y" }}</p>

                {% with winning_bid=profile.get_winning_bid %}
                    {% if winning_bid %}
                        <p class="text-success">Winner: {{ winning_bid.user.username }}</p>
                        <p class="text-success">Winning Bid Amount: {{ winning_bid.bid_price }}</p>
                    {% endif %}
                {% endwith %}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
